<!-- /snippets/ajax-cart-template.liquid -->
{% comment %}

  This snippet provides the default handlebars.js templates for
  the ajax cart plugin. Use the raw liquid tags to keep the
  handlebar.js template tags as available hooks.

{% endcomment %}
  <script id="CartTemplate" type="text/template">
  {% raw %}
    <form action="{% endraw %}{{ routes.cart_url }}{% raw %}" method="post" novalidate class="cart ajaxcart">
      
      <div class="ajaxcart__inner ajaxcart__inner--has-fixed-footer">
      	
        <div class="shipping-text"></div>
        
        <div class="ProgressBar__hide"></div><div class="ProgressBar__indicator"></div>
        
        <div class="cart-body">
        {{#items}}
        <div class="ajaxcart__product">
          <div class="ajaxcart__row" data-line="{{line}}">
            <div class="grid">
              <div class="grid__item one-quarter">
                <a href="{{url}}" class="ajaxcart__product-image">
                  
                    {{#if properties}}
                      {{#properties}}
                        {{#each this}}
                          {{#if this}}
                            <img src="{{this}}" alt="{{name}}">
                          {{/if}} 
                         {{else}}                         
                          <img src="{{../../img}}" alt="{{../../name}}">
                        {{/each}}
                      {{/properties}}
                    {{else}}
                    	<img src="{{img}}" alt="{{name}}">
                    {{/if}}
                    
                	
    			</a>
              </div>
              <div class="grid__item three-quarters">
                <div class="ajaxcart__product-name--wrapper">
                  <a href="{{url}}" class="ajaxcart__product-name">
                  {{#if properties}}
                      {{#properties}}
                        {{#each this}}
                          {{#if this}}
                            {{@key}}
                          {{/if}} 
                         {{else}}
                          {{../../name}}
                        {{/each}}
                      {{/properties}}
                    {{else}}
                    	{{{name}}}
                    {{/if}}                  
    			  </a>
                  {{#if variation}}
                    <span class="ajaxcart__product-meta">{{variation}}</span>
                  {{/if}}
                  {% endraw %}
                  {% comment %}
                  {{#properties}}
                    {{#each this}}
                      {{#if this}}
                        <span class="ajaxcart__product-meta">{{@key}}:<br><img src="{{this}}" width="80"></span>
                      {{/if}}
                    {{/each}}
                  {{/properties}}
                  {% endcomment %}
                  {% raw %}
                </div>

                <div class="grid--full">
                  <div class="grid__item one-half">
                    <div class="ajaxcart__qty">
                      <button type="button" class="ajaxcart__qty-adjust ajaxcart__qty--minus icon-fallback-text" data-id="{{key}}" data-qty="{{itemMinus}}" data-line="{{line}}" aria-label="{% endraw %}{{ 'cart.general.reduce_quantity' | t }}{% raw %}">
                        <span class="icon icon-minus" aria-hidden="true"></span>
                        <span class="fallback-text" aria-hidden="true">&minus;</span>
                      </button>
                      <input type="text" name="updates[]" class="ajaxcart__qty-num" value="{{itemQty}}" min="0" data-id="{{key}}" data-line="{{line}}" aria-label="quantity" pattern="[0-9]*">
                      <button type="button" class="ajaxcart__qty-adjust ajaxcart__qty--plus icon-fallback-text" data-id="{{key}}" data-line="{{line}}" data-qty="{{itemAdd}}" aria-label="{% endraw %}{{ 'cart.general.increase_quantity' | t }}{% raw %}">
                        <span class="icon icon-plus" aria-hidden="true"></span>
                        <span class="fallback-text" aria-hidden="true">+</span>
                      </button>
                    </div>
                  </div>
                  <div class="grid__item one-half text-right">
                    {{#if discountsApplied}}
                      <span class="visually-hidden">{% endraw %}{{ 'products.general.regular_price' | t }}{% raw %}</span>
                      <del class="ajaxcart__price">{{{price}}}</del>
                      <span class="visually-hidden">{% endraw %}{{ 'products.general.sale_price' | t }}{% raw %}</span>
                      <span class="ajaxcart__price">{{{discountedPrice}}}</span>
                    {{else}}
                      <span class="ajaxcart__price euro">{{{price}}}</span>
                      <span class="ajaxcart__price pound display-non" data-variant="{{ variant }}" data-image="{{#properties}}{{#each this}}{{#if this}}{{this}}{{/if}}{{/each}}{{/properties}}">123</span>
                    {{/if}}
                    {{#if unitPrice}}
                      <span class="visually-hidden">{% endraw %}{{ 'products.general.unit_price' | t }}{% raw %}</span>
                      <span class="cart__unit-price">
                        {% endraw %}
                          {%- capture unit_price_separator -%}
                            <span aria-hidden="true">/</span><span class="visually-hidden">&nbsp;{{ 'general.accessibility.unit_price_separator' | t }}&nbsp;</span>
                          {%- endcapture -%}
                        {% raw %}

                        <span>{{{ unitPrice.price }}}</span>{% endraw %}{{- unit_price_separator -}}{% raw %}{{#if unitPrice.addRefererenceValue }}{{{ unitPrice.reference_value }}}{{/if}}{{{ unitPrice.reference_unit }}}
                      </span>
                    {{/if}}
                  </div>
                </div>
                {{#if discountsApplied}}
                  <div class="grid--full">
                    <div class="grid__item text-right">
                      <ul class="order-discount order-discount--list order-discount--title order-discount--ajax-cart order-discount--ajax-cart-list" aria-label="{% endraw %}{{ 'customer.order.discount' | t }}{% raw %}">
                        {{#each discounts}}
                          <li class="order-discount__item">
                            <span class="icon icon-saletag" aria-hidden="true"></span>{{ this.discount_application.title }} (-{{{ this.formattedAmount }}})
                          </li>
                        {{/each}}
                      </ul>
                    </div>
                  </div>
                {{/if}}
              </div>
            </div>
          </div>
        </div>
        {{/items}}
        </div>
             
        <div class="cart-foot">
        {% endraw %}
        <div id="add-gift" class="ajaxcart__product" style="padding: 0 0 10px;">
          <div class="" data-line="1" style="padding: 0 20px;background-color: #a5dcde;border-radius: 5px;">
            <div class="grid">
              <div class="grid__item one-third">
                <label class="ajaxcart__product-image"><img src="{{ "Gift_bag_1.png" | asset_url }}" alt="gift bag" style="width: 59px;height: 59px;margin: 10px;"></label>
              </div>
              <div class="grid__item two-thirds">
                <div class="ajaxcart__product-name--wrapper ajax-padder">
                  <label class="ajaxcart__product-name text-left" style="padding-top: 15px;padding-bottom: 15px;">Better with a <strong>gift bag</strong>.</label>  
                  {% assign some_handle = 'gift-bag' %}
				  {% assign custom_product = all_products[some_handle] %}
                  <label class="ajaxcart__product-name text-right euro">+  {{ custom_product.price | money }}</label>
                  <label class="ajaxcart__product-name text-right pound display-non">+  £2.00</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% raw %}
        <div class="grid--full">
          {{#if cartDiscountsApplied}}
            {{#each cartDiscounts}}
              <div class="grid__item two-thirds ajaxcart__discounts">
                <span class="order-discount order-discount--title order-discount--ajax-cart">
                  <span class="icon icon-saletag" aria-hidden="true"></span><span class="visually-hidden">{% endraw %}{{ 'customer.order.discount' | t }}{% raw %}:</span>{{ this.title }}
                </span>
              </div>
              <div class="grid__item one-third text-right">
                <span class="ajaxcart__price euro">-{{{ this.formattedAmount }}}</span>
                <span class="ajaxcart__price_pnd pound display-non">-{{{ this.formattedAmount }}}</span>
              </div>
            {{/each}}
          {{/if}}
         </div>
         <div class="grid--full">
          <div class="grid__item one-third">
            <p class="ajaxcart__subtotal">{% endraw %}{{ 'cart.general.subtotal' | t }}{% raw %}</p>
          </div>
          <div class="grid__item two-thirds text-right">
            <p class="ajaxcart__subtotal euro">{{{totalPrice}}} INCL. VAT</p>
            <p class="ajaxcart__subtotal pound display-non"></p>
          </div>
        </div>
        
        <div class="grid--full">
          
          <div class="grid__item one-half">
            <p class="ajaxcart__ship">Shipping</p>
          </div>
          <div class="grid__item one-half text-right">
            <p class="ajaxcart__ship">Calc. at next step</p>
          </div>
        </div>

        {% endraw %}
        {% comment %}
        <p class="ajaxcart__policies">
          {%- capture taxes_shipping_checkout -%}
            {%- if shop.taxes_included and shop.shipping_policy.body != blank -%}
              {{ 'cart.general.taxes_included_and_shipping_policy_html' | t: link: shop.shipping_policy.url }}
            {%- elsif shop.taxes_included -%}
              {{ 'cart.general.taxes_included_but_shipping_at_checkout' | t }}
            {%- elsif shop.shipping_policy.body != blank -%}
              {{ 'cart.general.taxes_and_shipping_policy_at_checkout_html' | t: link: shop.shipping_policy.url }}
            {%- else -%}
              {{ 'cart.general.taxes_and_shipping_at_checkout' | t }}
            {%- endif -%}
          {%- endcapture -%}
          {{ taxes_shipping_checkout }}
          </p>
          {% endcomment %}
        {% raw %}
        <p></p>
        <button type="submit" class="btn--secondary btn--full cart__checkout btn upload-btn-xl euro" name="checkout" style="width: 100%;border-radius: 5px;">
          {% endraw %}Checkout{% raw %}</span>
        </button>
        <a href="#" id="poundcheckout" class="btn upload-btn-xl pound display-non" style="color: #fff;width: 100%;border-radius: 5px;">
          {% endraw %}Checkout{% raw %}</span>
        </a>
        <p></p>
        
        <a href="/" class="continue-shopping btn--secondary btn--full upload-btn-xl euro" style="width: 100%;border-radius: 5px;">
          {% endraw %}Continue Shopping{% raw %}
        </a>
        <p></p>
        {% endraw %}
               
        <div id="add-another" class="ajaxcart__product ajaxcart__product-name--wrapper no-disp">
          <div class="" data-line="1" style="padding: 0 20px;background-color: #a5dcde;border-radius: 5px;">
            <div class="grid">
              <div class="grid__item one-third">
                <label for="image" class="ajaxcart__product-image"><img src="{{ "upload_6.png" | asset_url }}" alt="more pets upload" style="padding: 10px;"></label>
              </div>
              <div class="grid__item two-thirds">
                <div class="ajax-padder">
                  <label for="image" class="ajaxcart__product-name text-left euro" style="padding: 20px 0;">Upload a pet for a custom pet sticker.</label>   
                  <label for="image" class="ajaxcart__product-name text-left pound display-non" style="padding: 20px 0;">Upload a pet for a custom pet sticker.</label>   
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div id="classic-upload" class="ajaxcart__product ajaxcart__product-name--wrapper no-disp">
          <div class="" data-line="1" style="padding: 0 20px;background-color: #a5dcde;border-radius: 5px;">
            <div class="grid">
              <div class="grid__item one-third">
                <label for="image" class="ajaxcart__product-image"><img src="{{ "Leftovers.png" | asset_url }}" alt="more classic stickers upload" style="padding: 10px;"></label>
              </div>
              <div class="grid__item two-thirds">
                <div class="ajax-padder">
                  <label for="image" class="ajaxcart__product-name text-left euro" style="padding: 20px 0px;">Or, add more classic stickers.</label>   
                  <label for="image" class="ajaxcart__product-name text-left pound display-non" style="padding: 20px 0px;">Or, add more classic stickers.</label>   
                </div>
              </div>
            </div>
          </div>
        </div>
        
        
        {% raw %} 
        <p style="padding-top: 15px;border-bottom: 1px solid;"></p>
        {% endraw %}{% if settings.cart_notes_enable %}{% raw %}
          <div>
            <label for="CartSpecialInstructions" class="ajaxcart__note">{% endraw %}woof, anything special we can do for you?{% raw %}</label>
            <textarea name="note" class="input-full" id="CartSpecialInstructions" style="border-radius: 5px;min-height: 40px;">{{note}}</textarea>
          </div>
        {% endraw %}{% endif %}{% raw %} 
         </div>     
              
      </div>
      {% endraw %}
      {% comment %}
      <div class="ajaxcart__footer ajaxcart__footer--fixed">
                
      </div>
      {% endcomment %}
      {% raw %}
    </form>
  {% endraw %}
  </script>
  <script id="AjaxQty" type="text/template">
  {% raw %}
    <div class="ajaxcart__qty">
      <button type="button" class="ajaxcart__qty-adjust ajaxcart__qty--minus icon-fallback-text" data-id="{{key}}" data-qty="{{itemMinus}}" aria-label="{% endraw %}{{ 'cart.general.reduce_quantity' | t }}{% raw %}">
        <span class="icon icon-minus" aria-hidden="true"></span>
        <span class="fallback-text" aria-hidden="true">&minus;</span>
      </button>
      <input type="text" class="ajaxcart__qty-num" value="{{itemQty}}" min="0" data-id="{{key}}" aria-label="quantity" pattern="[0-9]*">
      <button type="button" class="ajaxcart__qty-adjust ajaxcart__qty--plus icon-fallback-text" data-id="{{key}}" data-qty="{{itemAdd}}" aria-label="{% endraw %}{{ 'cart.general.increase_quantity' | t }}{% raw %}">
        <span class="icon icon-plus" aria-hidden="true"></span>
        <span class="fallback-text" aria-hidden="true">+</span>
      </button>
    </div>
  {% endraw %}
  </script>
  <script id="JsQty" type="text/template">
  {% raw %}
    <div class="js-qty">
      <button type="button" class="js-qty__adjust js-qty__adjust--minus icon-fallback-text" data-id="{{key}}" data-qty="{{itemMinus}}" aria-label="{% endraw %}{{ 'cart.general.reduce_quantity' | t }}{% raw %}">
        <span class="icon icon-minus" aria-hidden="true"></span>
        <span class="fallback-text" aria-hidden="true">&minus;</span>
      </button>
      <input type="text" class="js-qty__num" value="{{itemQty}}" min="1" data-id="{{key}}" aria-label="quantity" pattern="[0-9]*" name="{{inputName}}" id="{{inputId}}">
      <button type="button" class="js-qty__adjust js-qty__adjust--plus icon-fallback-text" data-id="{{key}}" data-qty="{{itemAdd}}" aria-label="{% endraw %}{{ 'cart.general.increase_quantity' | t }}{% raw %}">
        <span class="icon icon-plus" aria-hidden="true"></span>
        <span class="fallback-text" aria-hidden="true">+</span>
      </button>
    </div>
  {% endraw %}
  </script>
