<div class="drawer__inner drawer-left__inner">
  <ul class="mobile-nav ">
    {%- for block in section.blocks -%}
      {%- case block.type -%}
      {%- when 'mobile_menu' -%}
          {%- for link in linklists[block.settings.mobile_menu].links -%}
              {%- if link.links != blank -%}
                  <li class="mobile-nav__item">
                    <div class="toggle-mobile-nav mobile-nav__link flex">
                      <a href="{{ link.url }}">
                        {{ link.title }}
                      </a>
                      <button class="plus-icon-wrap">
                          <div class="toggle"></div>
                      </button>
                    </div>
                      <ul class="inner">
                          {%- for child_link in link.links -%} 
                              {%- assign product = child_link.object -%}
                              {%- if child_link.links != blank -%}
                                <li class="mobile-nav__item">
                                  <div class="toggle-mobile-nav flex">
                                    <a class="flex mobile-nav__link" href="{{ product.url }}">
                                      {{ product.title }}
                                    </a>
                                    <a class="flex" href="{{ product.url }}" style="margin-left: 10%;">
                                      {%- if product.images.size > 0 -%}
                                      {%- if product.images.size > 1 -%}
                                        {%- assign product_image = product.images[1] -%}
                                      {%- else -%}
                                        {%- assign product_image = product.featured_image -%}
                                      {%- endif -%}
                                        <img srcset="{%- if product_image.width >= 60 -%}{{ product_image | img_url: '60x' }} 60w,{%- endif -%}"
                                            src="{{ product_image | img_url: '60x' }}" 
                                            alt="{{ product.title }}" 
                                            width="auto"
                                            height="auto"
                                            style="max-width: 60px;"
                                            loading="lazy"
                                            />
                                      {%- else -%}
                                        {{ 'product-1' | placeholder_svg_tag }}
                                      {%- endif -%}
                                    </a>
                                    <button class="plus-icon-wrap">
                                        <div class="toggle"></div>
                                    </button>
                                  </div>
                                  <ul class="inner">
                                    {%- for grand_child_link in child_link.links -%} 
                                      {%- assign product = grand_child_link.object -%}
                                      <li class="align-items-center mobile-nav__item">
                                        <a class="flex mobile-nav__link" href="{{ product.url }}">
                                          {{ product.title }}
                                        </a>
                                        <a class="flex" href="{{ product.url }}" style="margin-left: 10%;">
                                          {%- if product.images.size > 0 -%}
                                          {%- if product.images.size > 1 -%}
                                            {%- assign product_image = product.images[1] -%}
                                          {%- else -%}
                                            {%- assign product_image = product.featured_image -%}
                                          {%- endif -%}
                                            <img srcset="{%- if product_image.width >= 60 -%}{{ product_image | img_url: '60x' }} 60w,{%- endif -%}"
                                                src="{{ product_image | img_url: '60x' }}" 
                                                alt="{{ product.title }}" 
                                                width="auto"
                                                height="auto"
                                                style="max-width: 60px; height: auto;"
                                                loading="lazy"
                                                />
                                          {%- else -%}
                                            {{ 'product-1' | placeholder_svg_tag }}
                                          {%- endif -%}
                                        </a>
                                      </li>
                                    {%- endfor -%}
                                  </ul>
                                </li>
                              {%- else -%}
                                  <li class="mobile-nav__item">
                                    <div class="align-items-center">
                                      <a class="flex mobile-nav__link" href="{{ product.url }}">
                                        {{ product.title }}
                                      </a>
                                      <a class="flex" href="{{ product.url }}" style="margin-left: 10%;">
                                        {%- if product.images.size > 0 -%}
                                        {%- if product.images.size > 1 -%}
                                          {%- assign product_image = product.images[1] -%}
                                        {%- else -%}
                                          {%- assign product_image = product.featured_image -%}
                                        {%- endif -%}
                                          <img srcset="{%- if product_image.width >= 60 -%}{{ product_image | img_url: '60x' }} 60w,{%- endif -%}"
                                              src="{{ product_image | img_url: '60x' }}" 
                                              alt="{{ product.title }}" 
                                              width="auto"
                                              height="auto"
                                              style="max-width: 60px; height: auto;"
                                              loading="lazy"
                                              />
                                        {%- else -%}
                                          {{ 'product-1' | placeholder_svg_tag }}
                                        {%- endif -%}
                                      </a>
                                    </div>
                                  </li>
                              {%- endif -%}
                          {%- endfor -%}
                      </ul>
                  </li>
              {%- else -%}
                  <li class="mobile-nav__item">
                      <a class="mobile-nav__link" href="{{ link.url }}">{{ link.title }}</a>
                  </li>
              {%- endif -%}
          {%- endfor -%}
      {%- endcase -%}
  {%- endfor -%}

    <li class="mobile-nav__item">
      <div class="toggle-mobile-nav flex">
        <a href="#" class="flex mobile-shp mobile-nav__link" id="Lang-0">
          <img 
                class="lang-imgs"
                src="{{ "English-flag-new.png" | asset_img_url:"60x" }}"
                width="auto"
                height="auto"
                style="margin-right: 3px" alt="UK" 
                loading="lazy"
          />
          EN
        </a>
        <button class="plus-icon-wrap">
          <div class="toggle"></div>
        </button>
      </div>
      <ul class="inner" id="Langlist-0" role="navigation">
        <li class="mobile-nav__item">
          <a href="#" class="align-items-center mobile-nav__link">
            <img class="lang-imgs"
                 src="{{ "French-flag.png" | asset_img_url:"60x" }}"
                 style="transform: rotate(90deg)" 
                 width="auto"
                 height="auto"
                 alt="netherlands" 
                 loading="lazy"/>NL</a>
        </li>

        <li class="mobile-nav__item">
          <a href="#" class="align-items-center mobile-nav__link">
            <img 
                 class="lang-imgs"
                 src="{{ "French-flag.png" | asset_img_url:"60x" }}" 
                 alt="france" 
                 width="auto"
                 height="auto"
                 loading="lazy"
            />FR
          </a>
        </li>
      </ul>
    </li>
    <li class="mobile-nav__item customer-account">
      {% if customer %}
        <a href="{{ routes.account_url }}" class="mobile-nav__link">
          {{ customer.first_name }}
          {% render 'icon-account' %}
        </a>
      
      {% else %}
        <a href="{{ routes.account_login_url }}" class="mobile-nav__link">
          Login
          {% render 'icon-account' %}
        </a>
      {% endif %}
    </li>
    <li class="mobile-nav__spacer"></li>
  </ul>
  <!-- //mobile-nav -->
</div>

<style>
  #NavDrawer ol, #NavDrawer ul.inner {
      padding-left: 10px;
      overflow: hidden;
      display: none;
  }
</style>

<script>
  $('.toggle-mobile-nav').click(function (e) {
      // e.preventDefault();

      var $this = $(this);

      if ($this.next().hasClass('show-mobile-nav')) {
          $this.next().removeClass('show-mobile-nav');
          $this.removeClass("accordion-open");
          $this.next().slideUp(350);
      } else {
          $this.parent().parent().find('li .inner').removeClass('show-mobile-nav');
          $this.parent().parent().find('li .inner').slideUp(350);
          $this.parent().parent().find('li .toggle-mobile-nav').removeClass("accordion-open");
          $this.next().toggleClass('show-mobile-nav');
          $this.toggleClass("accordion-open");
          $this.next().slideToggle(350);
      }
  });
</script>