{{ 'component-product-without-variants.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-badge.css' | asset_url | stylesheet_tag }}
{{ 'bootstrap.css' | asset_url | stylesheet_tag }}
{% assign current_variant = product.selected_or_first_available_variant %}
{% assign featured_image = current_variant.featured_image | default: product.featured_image %}

{%- assign first_3d_model = product.media | where: "media_type", "model" | first -%}
{%- if first_3d_model -%}
  {{ 'component-product-model.css' | asset_url | stylesheet_tag }}
  <link id="ModelViewerStyle" rel="stylesheet" href="https://cdn.shopify.com/shopifycloud/model-viewer-ui/assets/v1.0/model-viewer-ui.css" media="print" onload="this.media='all'">
  <link id="ModelViewerOverride" rel="stylesheet" href="{{ 'component-model-viewer-ui.css' | asset_url }}" media="print" onload="this.media='all'">
{%- endif -%}

<section class="product-hero">
  <div class="container">
    <div class="product-wrapper">
      <div class="slider left">
        <p class="mobile-product-text no-d">21 stickers of your pets face, printed and ✂️ cut by us.
          <br>
          
          <a class="review-stars" href="#reviews">
            <span class="stars">
              <span class="star">{% render "icon-star" %}</span>
              <span class="star">{% render "icon-star" %}</span>
              <span class="star">{% render "icon-star" %}</span>
              <span class="star">{% render "icon-star" %}</span>
              <span class="star">{% render "icon-star" %}</span>
            </span>
            <span class="mobile-product-reviews">142 reviews</span>
            {%- for block in section.blocks -%}
            {%- case block.type -%}
            {%- when 'text' -%}
            <span class="visually-hidden">{{ 'accessibility.vendor' | t }}</span>
            <div class="no-d product-vendor {% if block.settings.text_style == 'uppercase' %} caption-with-letter-spacing{% elsif block.settings.text_style == 'subtitle' %} subtitle{% endif %}">{{- block.settings.text -}}</div>
            {%- endcase -%}
            {%- endfor -%}
          </a>
        </p>
        {%- for block in section.blocks -%}
        {%- case block.type -%}
        {%- when 'price' -%}
        <p class="product-price no-d">
          {%- render 'price', product: product, use_variant: true, show_badges: true, price_class: 'price product-single__price no-desktop-1 justify-content-center' -%}
        </p>
        {%- endcase -%}
        {%- endfor -%}
        {% render "product-template-slider" %}

      </div>
      <div class="product-single-wrapper right">
        <div class="product-single">
          {%- for block in section.blocks -%}
          {%- case block.type -%}
          {%- when 'text' -%}
          <span class="visually-hidden">{{ 'accessibility.vendor' | t }}</span>
          <div class="product-vendor default {% if block.settings.text_style == 'uppercase' %} caption-with-letter-spacing{% elsif block.settings.text_style == 'subtitle' %} subtitle{% endif %}">{{- block.settings.text -}}</div>
          {%- endcase -%}
          {%- endfor -%}
          <h1 class="product-single-title no-m">
          {%- for block in section.blocks -%}
            {%- case block.type -%}
            {%- when 'title' -%}
            {{ product.title }}
            {%- endcase -%}
            {%- endfor -%}
          </h1>
          <div class="center-it">
            <div class="price-container no-m">
              {%- for block in section.blocks -%}
              {%- case block.type -%}
              {%- when 'price' -%}
              <span class="product-price">
                {%- render 'price', product: product, use_variant: true, show_badges: true, price_class: 'product-price product-single__price' -%}
              </span>
              {%- endcase -%}
              {%- endfor -%}
              <span class="stars">
              <span class="star">{% render "icon-star" %}</span>
              <span class="star">{% render "icon-star" %}</span>
              <span class="star">{% render "icon-star" %}</span>
              <span class="star">{% render "icon-star" %}</span>
              <span class="star">{% render "icon-star" %}</span>
              </span>
              <div class="product-single-description" itemprop="description">

                <p>{{product.metafields.my_fields.description}}</p>
                <p><em>Delivery time: 4 - 8 days<br></em><em>Shipped from Belgium<br></em></p>
              </div>
              {% capture "form_classes" %}
              product-single__form{% if product.has_only_default_variant %} AddToCartForm--product-template--no-variants product-single__form--no-variants{% endif %}
            {%- endcapture %}

            {% capture "form_id" %}product-form-{{ section.id }}{%- endcapture -%}

            {% form 'product', product, class:form_classes, id:form_id, data-product-form: '' %}
              <select name="id" id="ProductSelect--{{ section.id }}" class="product-single__variants no-js" hidden>
                  {% for variant in product.variants %}
                    {% if variant.available %}
                      <option {% if variant == product.selected_or_first_available_variant %}
                        selected="selected" {% endif %}
                        data-sku="{{ variant.sku }}"
                        value="{{ variant.id }}">
                        {{ variant.title }} - {{ variant.price | money_with_currency }}
                      </option>
                    {% else %}
                      <option disabled="disabled">
                        {{ variant.title }} - {{ 'products.product.sold_out' | t }}
                      </option>
                    {% endif %}
                  {% endfor %}
                </select>
            
                <div class="line-item-property__field box has-advanced-upload">
                  <div class="box__input">
                    <input type="hidden" name="sections" value="cart-total-price,cart-items-template">
                    <input id="image" required type="file" class="box__file required" accept="image/*"
                            enctype="multipart/form-data"
                           name="properties[Image we will cut out ✂️]"
                           />
                    <label for="image"><strong>UPLOAD</strong><span
                                                                    class="box__dragndrop"></span></label>
                    <label for="image">
                      <span class="box__icon">
                        <img src="{{ "upload_4.png" | asset_url }}" alt="upload icon" 
                            width="auto"
                            height="auto"
                            loading="lazy">
                      </span>
                    </label>
                    
                   
                  </div>

                </div>
                {%- for block in section.blocks -%}
                {%- case block.type -%}
                {%- when 'quantity_selector' -%}
                <div class=" product-form__quantity text-left" {{ block.shopify_attributes }}>
                  <label class="form__label" for="Quantity-{{ section.id }}">
                    Quantity
                  </label>
                  <quantity-input class="quantity">
                    <button class="quantity__button no-js-hidden" name="minus" type="button">
                      <span class="visually-hidden">{{ 'products.product.quantity.decrease' | t: product: product.title | escape }}</span>
                      {% render 'icon-minus' %}
                    </button>
                    <input class="quantity__input"
                        type="number"
                        name="quantity"
                        id="Quantity-{{ section.id }}"
                        min="1"
                        value="1"
                        form="product-form-{{ section.id }}"
                      >
                    <button class="quantity__button no-js-hidden" name="plus" type="button">
                      <span class="visually-hidden">{{ 'products.product.quantity.increase' | t: product: product.title | escape }}</span>
                      {% render 'icon-plus' %}
                    </button>
                  </quantity-input>
                </div>
                {%- endcase -%}
                {%- endfor -%}
                <div class="product-single__add-to-cart">
                  <button  name="add" id="AddToCart--product-template"
                          class="button border-button AddToCart"
                          data-id="{{ current_variant.id }}">
                    Order Now
                  </button>
                  {%- for block in section.blocks -%}
                  {%- case block.type -%}
                  {%- when 'buy_buttons' -%}
                  {%- if block.settings.show_dynamic_checkout -%}
                  {{ form | payment_button }}
                  {%- endif -%}
                  {%- endcase -%}
                  {%- endfor -%}
                </div>
          
               {% endform %}
              
            </div>
<!-- ---------------------------------------------------- -->
            {{ 'component-pickup-availability.css' | asset_url | stylesheet_tag }}

            {%- assign pick_up_availabilities = product.selected_or_first_available_variant.store_availabilities | where: 'pick_up_enabled', true -%}

            <pickup-availability class="product__pickup-availabilities no-js-hidden"
              {% if product.selected_or_first_available_variant.available and pick_up_availabilities.size > 0 %} available{% endif %}
              data-base-url="{{ shop.url }}{{ routes.root_url }}"
              data-variant-id="{{ product.selected_or_first_available_variant.id }}"
              data-has-only-default-variant="{{ product.has_only_default_variant }}"
            >
              <template>
                <pickup-availability-preview class="pickup-availability-preview">
                  {% render 'icon-unavailable' %}
                  <div class="pickup-availability-info">
                    <p class="caption-large">{{ 'products.product.pickup_availability.unavailable' | t }}</p>
                    <button class="pickup-availability-button link link--text underlined-link">{{ 'products.product.pickup_availability.refresh' | t }}</button>
                  </div>
                </div>
              </template>
            </pickup-availability>
        

          <script src="{{ 'pickup-availability.js' | asset_url }}" defer="defer"></script>
          <!-- ---------------------------------------------------- -->
          </div>


          </div>
        </div>
      </div>
    </div>
    <div class="sticky-prices no-d">
      <label for="image"><p class="button mobile-cart-submit">Upload a picture</p></label> 
    </div>
  </div>
</section>


{%- if first_3d_model -%}
  <script type="application/json" id="ProductJSON-{{ product.id }}">
    {{ product.media | where: 'media_type', 'model' | json }}
  </script>

  <script src="{{ 'product-model.js' | asset_url }}" defer></script>
{%- endif -%}