{% assign selected_product = section.settings.upsell_product %}
{% assign upsellProduct = all_products[selected_product] %}
{% assign upsellProductHandle = upsellProduct.handle %}
{% for item in cart.items %}
{% if item.product.handle == upsellProductHandle %}
{% assign upsell_present = true %}
{% endif %}
{% endfor %}

<div id="CartDrawer" class="drawer drawer--right drawer--has-fixed-footer ">
  <div class="drawer__fixed-header">
    <div class="drawer__header">
      <div class="drawer__close">
        <button id="closeCart" type="button" class="drawer__close-button js-drawer-close" aria-label="cart-close-button">
          <img id="icon-x" src="{{"icon-plus.svg" | asset_url}}" alt="" srcset="" loading="lazy"
               width="auto"
           height="auto"
               >
        </button>
      </div>
      <div class="drawer__title">Your cart</div>
    </div>
  </div>
  <div class="drawer__inner">
    <div id="CartContainer" class="drawer__cart CartContainer" data-handle="{{ upsellProductHandle }}" data-value="{{ upsellProduct.first_available_variant.id }}">


      <div id="cart-form" class="cart-form {% if upsell_present %} hide-cart{% endif %}">
        <div class="ajaxcart__inner ajaxcart__inner--has-fixed-footer">
          <div class="shipping-text">
            You're €45 away from free shipping
          </div>
          <div class="ProgressBar__hide">
            <div class="ProgressBar__indicator"></div>
          </div>
          {% if cart.item_count > 0 %}
          <div class="cart-body">
            {% for item in cart.items %}
            {% assign lineItem = forloop.index %}

            <div class="ajaxcart__product">
              <div class="ajaxcart__row" data-line="{{ lineItem }}">
                <div class="grid">
                  <div class="grid__item one-quarter">
                   
                    <a href="{{ item.url }}" class="ajaxcart__product-image">
                      {%- assign prop = item.properties | size -%}
                      {%- if prop > 0   -%}
                          {%- for property in item.properties limit:1 -%}
                      <img srcset=""
                           src="{{ property.last }}" 
                           alt="pet stickers" 
                           width="auto"
                           height="auto"
                           loading="lazy"/>
                          {%- endfor -%}
                      {%- else -%}
                      <img srcset="{%- if item.image.width >= 100 -%}{{ item.image | img_url: '100x' }} 100w,{%- endif -%}"
                           src="{{ item.image | img_url: '100x' }}" 
                           alt="pet stickers" 
                           loading="lazy"/>
                      {%- endif -%}
                    </a>
                  </div>
                  <div class="grid__item three-quarters">
                    <div class="ajaxcart__product-name--wrapper">
                      <a href="{{ item.url }}" class="ajaxcart__product-name">
                        {% if prop > 0  %}
                        	{% for property in item.properties limit:1 %}
                        		{{ property.first }}
                        	{% endfor %}
                        {% else %}
                        		{{ item.product.title }}
                        {% endif %}
                         
                      </a>
                      {% if item.variant and item.variant.title != "Default Title"  %}
                        <span class="ajaxcart__product-meta">{{item.variant.title }}</span>
                        {% endif %}
                    </div>

                    <div class="grid">
                      <div class="grid__item one-half">
                        <div class="ajaxcart__qty">
                          <button type="button"
                                  class="ajaxcart__qty-adjust ajaxcart__qty--minus icon-fallback-text "
                                  data-id="{{ item.key }}"
                                  data-qty="{{ item.quantity | minus: 1   }}" 
                                  data-line="{{ lineItem }}"
                                  aria-label="Reduce item quantity by one">
                            <span class="icon icon-minus" aria-hidden="true"></span>
                            <span class="fallback-text" aria-hidden="true">−</span>
                          </button>
                          <input type="text" name="updates[]" class="ajaxcart__qty-num"
                                 value="{{ item.quantity }}" min="0"
                                 data-id="{{ item.key }}"
                                 data-line="{{ lineItem }}" aria-label="quantity" pattern="[0-9]*" 
                                 />
                          <button type="button"
                                  class="ajaxcart__qty-adjust ajaxcart__qty--plus icon-fallback-text"
                                  data-id="{{ item.key }}"
                                  data-line="{{ lineItem }}" 
                                  data-qty="{{ item.quantity | plus: 1   }}"
                                  aria-label="Increase item quantity by one">
                            <span class="icon icon-plus" aria-hidden="true"></span>
                            <span class="fallback-text" aria-hidden="true">+</span>
                          </button>
                        </div>
                      </div>
                      <div class="grid__item one-half text-right">
                        <span class="ajaxcart__price">{{ item.original_price | money }}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
            
          </div>


          <div class="cart-foot">
          <!--       ----------------- UPSELL ITEM ------------------------- -->
          {% if upsellProduct != blank %}
          <div id="add-gift" 
            data-handle="{{ upsellProductHandle }}" 
            data-value="{{ upsellProduct.first_available_variant.id }}" 
            data-variant-id = "{{upsellProduct.first_available_variant.id }}"
            data-quantity = "1"
            class="UpsellAddToCart ajaxcart__product" 
            style="padding: 0 0 10px;">
              <div class="" data-line=""
                   style="padding: 0 20px;background-color: #a5dcde;border-radius: 5px;">
                <div class="grid">
                  <div class="grid__item one-third">
                    <label class="ajaxcart__product-image">
                      <img srcset="{%- if upsellProduct.featured_image.width >= 40 -%}{{ upsellProduct.featured_image | img_url: '50x' }} 50w,{%- endif -%}"
                           src="{{ upsellProduct.featured_image | img_url: '50x' }}"
                           alt="gift bag"
                           style="width: 59px;height: 59px;margin: 10px auto;object-fit: contain;"
                           loading="lazy"
                           >
                    </label>
                  </div>
                  <div class="grid__item two-thirds">
                    <div class="ajaxcart__product-name--wrapper ajax-padder">
                      <label class="ajaxcart__product-name text-left"
                            style="padding-top: 15px;padding-bottom: 15px;">
                          {%- if upsellProduct.metafields.my_fields.title_for_upsell != blank -%}
                            {{ upsellProduct.metafields.my_fields.title_for_upsell }}
                          {%- else -%}
                            Better with a <strong>{{ upsellProduct.title }}</strong>
                          {%- endif -%}
                      </label>


                      <label class="ajaxcart__product-name text-right euro">+ {{ upsellProduct.price | money }}</label>
                      <!--                       <label class="ajaxcart__product-name text-right pound display-non">+
£2.00</label> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {% endif %}
            <!--     /  ----------------- UPSELL ITEM ------------------------- -->
      

            <div class="grid">
              <div class="grid__item one-third">
                <p class="ajaxcart__subtotal">Subtotal</p>
              </div>
              <div class="grid__item two-thirds text-right">
                <p class="ajaxcart__subtotal euro">{{ cart.total_price | money }} INCL. VAT</p>
              </div>
            </div>
            <div class="grid">

              <div class="grid__item one-half">
                <p class="ajaxcart__ship">Shipping</p>
              </div>
              <div class="grid__item one-half text-right">
                <p class="ajaxcart__ship">Calc. at next step</p>
              </div>
            </div>

            <p></p>
            <a href="/checkout" class="button cart__checkout btn upload-btn-xl euro"
                    name="checkout" >
              Checkout
            </a>
            <a href="/checkout" id="poundcheckout" class="btn upload-btn-xl pound display-non"
               style="color: #fff;width: 100%;border-radius: 5px;">
              Checkout
            </a>
            <p></p>

            <a href="/" class="continue-shopping button euro"
               style="width: 100%;border-radius: 5px;">
              Continue Shopping
            </a>
            <p></p>
            <p style="padding-top: 15px;border-bottom: 1px solid;margin: 0 0 12px 0;"></p>
            <div>
              <label for="CartSpecialInstructions" class="ajaxcart__note">woof, anything special we
                can do for you?</label>
              <textarea name="note" class="input-full" id="CartSpecialInstructions"
                        style="border-radius: 5px;min-height: 40px;">{{ cart.note }}</textarea>
            </div>

          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

<script>
$( document ).ready(function() {
  shippingCalculator(parseInt(`{{ cart.total_price }}`));
});
  </script>

{% schema %}
{
  "name": "Cart",
  "settings": [
    {
      "type": "product",
      "id": "upsell_product",
      "label": "Upsell product",
      "info": "Select a product for upsell"
    }
  ]
}
{% endschema %}
