<section class="gallery color-{{ section.settings.collage_color_scheme }}">
  <div class="row {% if section.settings.layout == 'image_first' %} row-reverse{% endif %}">
    <div class="column-50 self-center no-m">
      <div class="text-block">
        <h2 class="h3 headings">{{ section.settings.header_text }}</h2>
        <p class="para">
         {{ section.settings.para_text }}
        </p>

        <div class="flex">
          {%- for block in section.blocks -%}
          {% case block.type %}
          {%- when 'grp_buttons' -%}
          <a href="{{ block.settings.btn_url }}" class="button">
           {{ block.settings.btn_text }}
          </a>
          {%- endcase -%}
          {%- endfor -%}

        </div>
      </div>
    </div>
    
    <div class="column-50 self-center no-d mobile-100">
      <div class="text-block">
        <h2 class="h3 headings">{{ section.settings.mobile_header_text }}</h2>
        <p class="para">
         {{ section.settings.mobile_para_text }}
        </p>

        <div class="flex">
          {%- for block in section.blocks -%}
          {% case block.type %}
          {%- when 'mobilebuttons' -%}
          <a href="{{ block.settings.mobile_btn_url }}" class="button">
           {{ block.settings.mobile_btn_text }}
          </a>
          {%- endcase -%}
          {%- endfor -%}

        </div>
      </div>
    </div>
    
    <div class="column-50 mobile-100">
      <div class="v-center">
        <div class="row">
          {%- for block in section.blocks -%}
          	{% case block.type %}
          		{%- when 'collage_image' -%}
          			<div class="column-50">
                      {% if block.settings.collage_image != blank %}
                      <img srcset="{% if  block.settings.collage_image.width >= 288 %}{{  block.settings.collage_image | img_url: '288x' }} 288w,{% endif %}
                                   {% if  block.settings.collage_image.width >= 576 %}{{  block.settings.collage_image | img_url: '576x' }} 576w,{% endif %}
                                   {% if  block.settings.collage_image.width >= 550 %}{{  block.settings.collage_image | img_url: '550x' }} 550w,{% endif %}
                                   {% if  block.settings.collage_image.width >= 1100 %}{{  block.settings.collage_image | img_url: '1100x' }} 1100w{% endif %}"
                           src="{{ block.settings.collage_image | img_url: '533x' }}" 
                           alt="{{ block.settings.collage_image.alt }}" 
                           loading="lazy">
                      {% else %}
                      {{ 'lifestyle-2' | placeholder_svg_tag }}
                      {% endif %}
          			</div>
          	{%- endcase -%}
          {%- endfor -%}

        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
    "name": "Collage",
    "settings": [
        {
          "type": "select",
          "id": "layout",
          "options": [
            {
              "value": "image_first",
              "label": "Image First"
            },
            {
              "value": "text_first",
              "label": "Text First"
            }
          ],
          "default": "image_first",
          "label": "Desktop Layout",
          "info" : "Image first is the default mobile layout."
        },
        {
          "type": "select",
          "id": "collage_color_scheme",
          "info" : "Choose a background",
          "options": [
             {
               "label": "Accent 1",
               "value": "accent-1"
             },
             {
               "label": "Accent 2",
               "value": "accent-2"
             },
             {
               "label": "Background 1",
               "value": "background-1"
             },
             {
               "label": "Background 2",
               "value": "background-2"
             },
             {
               "label": "Background 3",
               "value": "background-3"
             },
             {
               "label": "Background 4",
               "value": "background-4"
             },
             {
               "label": "Background 5",
               "value": "background-5"
             },
             {
               "label": "Inverse",
               "value": "inverse"
             }
          ],
          "label": "Color Scheme",
          "default": "background-5"
        },
        {
            "id": "header_text",
            "type": "text",
            "label": "Heading",
            "default": "Multimedia collage"
        },
        {
            "id": "para_text",
            "type": "html",
            "label": "Text",
            "default": "Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review."
        },
        {
            "id": "mobile_header_text",
            "type": "html",
            "label": "Mobile Heading",
            "default": "Multimedia collage"
        },
        {
            "id": "mobile_para_text",
            "type": "html",
            "label": "Mobile Text",
            "default": "Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review."
        }
    ],
    "blocks": [
        {
            "type": "collage_image",
            "name": "Image",
            "limit": 4,
            "settings": [
                {
                    "id": "collage_image",
                    "type": "image_picker",
                    "label": "Add image"
                }
            ]
        },
        {
            "type": "grp_buttons",
            "name": "Button",
            "limit": 3,
            "settings": [
                {
                    "id": "btn_text",
                    "type": "text",
                    "label": "Button text",
                    "default": "Button Label"
                },
                {
                    "id": "btn_url",
                    "type": "url",
                    "label": "Button url"
                }
            ]
        },
        {
            "type": "mobilebuttons",
            "name": "Mobile Button",
            "limit": 1,
            "settings": [
                {
                    "id": "mobile_btn_text",
                    "type": "text",
                    "label": "Mobile Button text",
                    "default": "Button Label"
                },
                {
                    "id": "mobile_btn_url",
                    "type": "url",
                    "label": "Mobile Button url"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Collage",
            "category": "ADVANCED LAYOUT"
        }
    ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
