{{ 'component-newsletter.css' | asset_url | stylesheet_tag }}
<footer class="color-{{ section.settings.footer_color_scheme }}">
  <div class="container">
    <div class="row flex">
      <div class="column-40">
        <div class="section-subheading">
          {{ section.settings.top_header_text }}
        </div>
        {% form 'customer', class: 'contact-form' %}
        <!-- <label for="Email" class="newsletter__label hidden-label">Sign up to our mailing list</label> -->
        <div class="newsletter--form">
          <div class="input-group">
            <input type="email" 
              value="" 
              placeholder="Email" 
              id="Email"  
              name="contact[email]"
              class="footer-newsletter-input" 
              autocorrect="off" 
              autocapitalize="off" 
            />
            <span class="footer-newsletter-input-btn">
              <button id="Subscribe" type="submit" class="newsletter__submit"
                      aria-label="Sign Up">
                <span>Sign Up</span>
              </button>
            </span>
          </div>
          {%- if form.errors -%}
            <small class="newsletter-form__message form__message" id="Newsletter-error--{{ section.id }}">{% render 'icon-error' %}{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}</small>
          {%- endif -%}
          {%- if form.posted_successfully? -%}
            <div class="note form-success">{% render 'icon-success' %}Thanks for subscribing</div>
          {%- endif -%}
        </div>
        {% endform %}
      </div>
      <div class="column-25">
        <div class="v-center">
          <a class="charity_logo" href="#">
            <img 
                 class=""
                 data-src=""
                 alt="Charity logo"
                 width="auto"
                 height="auto"
                 src="{{ section.settings.footer_image | img_url: '533x' }}"
                 loading="lazy" />
          </a>
        </div>
      </div>
    </div>

    <div class="row flex-center">
      <div class="left-nav">
        <ul class="no-bullets site-footer__linklist">

          {%- for block in section.blocks -%}
          {% case block.type %}
          {%- when 'social_links' -%}
          <li>
            <a href="{{ block.settings.link_url }}">
              {{ block.settings.link_text }}
            </a>
          </li>
          {%- endcase -%}
          {%- endfor -%}
          <!--           <li><a href="#">Instagram</a></li>

<li><a href="#">Email Us</a></li>

<li><a href="#">FAQ</a></li>

<li>
<a href="#" class="no-bullets site-footer__linklist">JOBS<sup><span class="dot"><span>1</span></span></sup>
</a>
</li> -->
        </ul>

      </div>

      <div class="right-nav">
        <ul class="no-bullets site-footer__linklist">
          <li><a href="/policies/privacy-policy">Cookies</a></li>

          <li><a href="/policies/privacy-policy">Privacy</a></li>

          <li>
            <a href="/policies/terms-of-service">Terms &amp; Conditions</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-bar">
    <hr class="full-length-ruler">
    
    <p class="copyright text-center all-caps">
      {{ section.settings.bottom_header_text }}
      <span class="footer-payment-strip list-payment__item">
        {%- for type in shop.enabled_payment_types -%}
        <span>

          {{ type | payment_type_svg_tag: class: 'icon icon--full-color' }}
        </span>
        {%- endfor -%}
      </span>
    </p>
    {%- if section.settings.show_social -%}
    <hr class="full-length-ruler">
    <ul class="footer__list-social list-unstyled list-social site-footer__linklist" role="list">
      {%- if settings.social_twitter_link != blank -%}
        <li class="list-social__item">
          <a href="{{ settings.social_twitter_link }}" class="link link--text list-social__link" aria-describedby="a11y-external-message">
            {%- render 'icon-twitter' -%}
            <span class="visually-hidden">{{ 'general.social.links.twitter' | t }}</span>
          </a>
        </li>
      {%- endif -%}
      {%- if settings.social_facebook_link != blank -%}
        <li class="list-social__item">
          <a href="{{ settings.social_facebook_link }}" class="link link--text list-social__link" aria-describedby="a11y-external-message">
            {%- render 'icon-facebook' -%}
            <span class="visually-hidden">{{ 'general.social.links.facebook' | t }}</span>
          </a>
        </li>
      {%- endif -%}
      {%- if settings.social_pinterest_link != blank -%}
        <li class="list-social__item">
          <a href="{{ settings.social_pinterest_link }}" class="link link--text list-social__link" aria-describedby="a11y-external-message">
            {%- render 'icon-pinterest' -%}
            <span class="visually-hidden">{{ 'general.social.links.pinterest' | t }}</span>
          </a>
        </li>
      {%- endif -%}
      {%- if settings.social_instagram_link != blank -%}
        <li class="list-social__item">
          <a href="{{ settings.social_instagram_link }}" class="link link--text list-social__link" aria-describedby="a11y-external-message">
            {%- render 'icon-instagram' -%}
            <span class="visually-hidden">{{ 'general.social.links.instagram' | t }}</span>
          </a>
        </li>
      {%- endif -%}
      {%- if settings.social_tiktok_link != blank -%}
        <li class="list-social__item">
          <a href="{{ settings.social_tiktok_link }}" class="link link--text list-social__link" aria-describedby="a11y-external-message">
            {%- render 'icon-tiktok' -%}
            <span class="visually-hidden">{{ 'general.social.links.tiktok' | t }}</span>
          </a>
        </li>
      {%- endif -%}
      {%- if settings.social_tumblr_link != blank -%}
        <li class="list-social__item">
          <a href="{{ settings.social_tumblr_link }}" class="link link--text list-social__link" aria-describedby="a11y-external-message">
            {%- render 'icon-tumblr' -%}
            <span class="visually-hidden">{{ 'general.social.links.tumblr' | t }}</span>
          </a>
        </li>
      {%- endif -%}
      {%- if settings.social_snapchat_link != blank -%}
        <li class="list-social__item">
          <a href="{{ settings.social_snapchat_link }}" class="link link--text list-social__link" aria-describedby="a11y-external-message">
            {%- render 'icon-snapchat' -%}
            <span class="visually-hidden">{{ 'general.social.links.snapchat' | t }}</span>
          </a>
        </li>
      {%- endif -%}
      {%- if settings.social_youtube_link != blank -%}
        <li class="list-social__item">
          <a href="{{ settings.social_youtube_link }}" class="link link--text list-social__link" aria-describedby="a11y-external-message">
            {%- render 'icon-youtube' -%}
            <span class="visually-hidden">{{ 'general.social.links.youtube' | t }}</span>
          </a>
        </li>
      {%- endif -%}
      {%- if settings.social_vimeo_link != blank -%}
        <li class="list-social__item">
          <a href="{{ settings.social_vimeo_link }}" class="link link--text list-social__link" aria-describedby="a11y-external-message">
            {%- render 'icon-vimeo' -%}
            <span class="visually-hidden">{{ 'general.social.links.vimeo' | t }}</span>
          </a>
        </li>
      {%- endif -%}
      <li class="list-social__item--placeholder">{{ 'sections.footer.social_placeholder' | t }}</li>
    </ul>
  {%- endif -%}
  </div>
</footer>
{% include "currency-script" %}


{% schema %}
{
    "name": "t:sections.footer.name",
    "settings": [
    {
      "type": "select",
      "id": "footer_color_scheme",
      "info" : "t:sections.footer.settings.color_scheme.info",
          "options": [
             {
               "label": "t:sections.footer.settings.color_scheme.options__1.label",
               "value": "accent-1"
             },
             {
               "label": "t:sections.footer.settings.color_scheme.options__2.label",
               "value": "accent-2"
             },
             {
               "label": "t:sections.footer.settings.color_scheme.options__3.label",
               "value": "background-1"
             },
             {
               "label": "t:sections.footer.settings.color_scheme.options__4.label",
               "value": "background-2"
             },
             {
               "label": "t:sections.footer.settings.color_scheme.options__5.label",
               "value": "background-3"
             },
             {
               "label": "t:sections.footer.settings.color_scheme.options__6.label",
               "value": "background-4"
             },
             {
               "label": "t:sections.footer.settings.color_scheme.options__7.label",
               "value": "background-5"
             },
             {
               "label": "t:sections.footer.settings.color_scheme.options__8.label",
               "value": "inverse"
             }
          ],
          "label": "t:sections.footer.settings.color_scheme.label",
          "default": "background-3"
        },
        {
            "id": "top_header_text",
            "type": "text",
            "label": "t:sections.footer.settings.top_header_text.label",
            "default": "Receive our latest updates and love ❤️"
        },
        {
            "id": "bottom_header_text",
            "type": "text",
            "label": "t:sections.footer.settings.bottom_header_text.label",
            "default": "Shipped from Belgium 🇧🇪 straight to your mailbox © Sticker Life"
        },
        {
            "id": "footer_image",
            "type": "image_picker",
            "label": "t:sections.footer.settings.footer_image.label"
        },
        {
          "type": "checkbox",
          "id": "show_social",
          "default": false,
          "label": "t:sections.footer.settings.show_social.label"
        }
    ],
    "blocks": [
        {
            "type": "text",
            "name": "t:sections.footer.blocks.text.name",
            "settings": [
                {
                    "id": "link_text",
                    "type": "html",
                    "label": "t:sections.footer.blocks.text.settings.heading.label",
                    "default": "NEW"
                },
                {
                    "id": "link_url",
                    "type": "url",
                    "label": "t:sections.footer.blocks.text.settings.link_url.label"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "t:sections.footer.presets.name",
            "category": "ADVANCED LAYOUT"
        }
    ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
