
<section class="image-with-text _2 _3">
  <div class="container">
    <div class="flex {% if section.settings.layout == 'image_first' %} row-reverse{% endif %} {% if section.settings.change_bg %} gray_bg{% endif %}">
      <div class="column-30 self-center">
        <div class="text-block">

          {%- for block in section.blocks -%}
          {% case block.type %}
          {%- when 'heading' -%}

          <h2 class="headings">{{ block.settings.heading | escape }}</h2>
          {%- when 'text' -%}
          <p class="para">{{ block.settings.text }}</p>
          {%- when 'text_list' -%}
          <div class="row spacing">
            {% if block.settings.icon_text != blank %}
            <div class="column-20">
              <p class="text-center list-icon">{{ block.settings.icon_text }}</p>
            </div>
            {% endif %}
            <div class="column-80">
              <p class="para">{{ block.settings.list_text }}</p>
            </div>
          </div>
          {%- when 'button' -%}
          {% if block.settings.button_label != blank %}
          <a{% if block.settings.button_link != blank %} href="{{ block.settings.button_link }}"{% endif %} class="button" {% if block.settings.button_link == blank %} aria-disabled="true"{% endif %} {{ block.shopify_attributes }}>
            {{ block.settings.button_label | escape }}
          </a>
          {% endif %}
          {%- endcase -%}
          {%- endfor -%}
        </div>
      </div>

      <div class="column-60">
        <div class="v-center">
          {% if section.settings.video_checkbox %}
          {{ section.settings.video_script }}
          {% else %}
          {% if section.settings.desktop_image != blank %}
          <img width="auto" height="auto"
            src="{{ section.settings.desktop_image | img_url: '533x' }}" alt="{{ section.settings.desktop_image.alt }}" class="full-image" loading="lazy">
          {% else %}
          {{ 'lifestyle-2' | placeholder_svg_tag: 'placeholder-svg'  }}
          {% endif %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>


{% schema %}
{
    "name": "Image with text 60-40",
    "settings": [
        {
            "type": "checkbox",
            "id": "video_checkbox",
            "default": false,
            "label": "Include video instead of an image",
            "info": "Tick this checkbox to show a video rather than an image and enter your script in the video script box. Desktop image is not needed in this case. Note: For mobile devices video will be hidden. Upload image for mobile devices as an alternative"
        },
        {
            "id": "video_script",
            "type": "html",
            "label": "Video script(optional)",
            "info": "This is a html text box so you can enter your script directly from fast.wistia.com"
        },
        {
            "type": "image_picker",
            "id": "desktop_image",
            "label": "Image"
        },
        {
            "type": "checkbox",
            "id": "change_bg",
            "default": false,
            "label": "Change background color"
        },
        {
          "type": "select",
          "id": "layout",
          "options": [
            {
              "value": "image_first",
              "label": "Image First"
            },
            {
              "value": "text_first",
              "label": "Text First"
            }
          ],
          "default": "image_first",
          "label": "Desktop Layout",
          "info" : "Image first is the default mobile layout."
        }
        
    ],
    "blocks": [
        {
            "type": "text_list",
            "name": "Text list",
            "limit": 3,
            "settings": [
                {
                    "id": "icon_text",
                    "type": "text",
                    "label": "Icon Text",
                    "default": "🔫"
                },
                {
                    "id": "list_text",
                    "type": "text",
                    "label": "Text"
                }
            ]
        },
        {
          "type": "heading",
          "name": "Image with text",
          "limit": 1,
          "settings": [
            {
              "type": "text",
              "id": "heading",
              "default": "Stickers that will last for years.",
              "label": "Heading"
            }
          ]
        },
        {
          "type": "text",
          "name": "description",
          "limit": 1,
          "settings": [
            {
              "type": "html",
              "id": "text",
              "label": "Description"
            }
          ]
        },
        {
          "type": "button",
          "name": "Button",
          "limit": 1,
          "settings": [
            {
              "type": "text",
              "id": "button_label",
              "default": "Button label",
              "label": "Button label",
              "info": "Leave the label blank to hide the button."
            },
            {
              "type": "url",
              "id": "button_link",
              "label": "Button link"
            }
          ]
        }
    ],
    "presets": [
        {
            "name": "Image with text 60-40",
            "category": "ADVANCED LAYOUT"
        }
    ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
