<section class="image-with-text-4 color-{{ section.settings.image_with_text_4_color_scheme }}">
  <div class="container">
    <div class="flex {% if section.settings.reverse_columns %} row-reverse{% endif %} ">
      <div class="column-30">
        <div class="v-center logo-jobs">
          {% if section.settings.image != blank %}
              	<img 
                     width="auto"
           height="auto"
                     src="{{ section.settings.image | img_url: '533x' }}" alt="{{ section.settings.image.alt }}" class="" loading="lazy">
              {% else %}
            	{{ 'image' | placeholder_svg_tag }} 
            {% endif %}
        </div>
      </div>

      <div class="column-40">
        <h2 class="headings">{{ section.settings.header_text }}</h2>
        <p class="para">
         {{ section.settings.para_text }}
        </p>

      </div>

    </div>
  </div>
</section>


{% schema %}
{
    "name": "Image with text 4",
    "settings": [
        {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
        },
        {
            "id": "header_text",
            "type": "text",
            "label": "Heading",
            "default": "Image with text"
        },
        {
            "id": "para_text",
            "type": "html",
            "label": "Description text",
            "default" : "Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review."
        },
        {
            "type": "checkbox",
            "id": "reverse_columns",
            "default": false,
            "label": "Swap image-block and text-block"
        },
        {
          "type": "select",
          "id": "image_with_text_4_color_scheme",
          "info" : "Choose a background",
          "options": [
             {
               "label": "Accent 1",
               "value": "accent-1"
             },
             {
               "label": "Accent 2",
               "value": "accent-2"
             },
             {
               "label": "Background 1",
               "value": "background-1"
             },
             {
               "label": "Background 2",
               "value": "background-2"
             },
             {
               "label": "Background 3",
               "value": "background-3"
             },
             {
               "label": "Background 4",
               "value": "background-4"
             },
             {
               "label": "Background 5",
               "value": "background-5"
             },
             {
               "label": "Inverse",
               "value": "inverse"
             }
          ],
          "label": "Color Scheme",
          "default": "background-5"
        }
    ],
    "blocks": [],
    "presets": [
        {
            "name": "Image with text 4",
            "category": "ADVANCED LAYOUT"
        }
    ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
