<section class="image-with-text _2 text_2--class color-{{ section.settings.image_with_text_2_bg }}">
  <!--   <div class="container"> -->
  <div class="row {% if section.settings.layout == 'image_first' %} row-reverse{% endif %}">
    <div class="column-50 self-center">
      <div class="text-block">

      {%- for block in section.blocks -%}
      {% case block.type %}
      {%- when 'heading' -%}

        <h2 class="headings">{{ block.settings.heading | escape }}</h2>

        {%- when 'text' -%}
        <p class="para">{{ block.settings.text }}</p>

        {%- when 'button' -%}
        {% if block.settings.button_label != blank %}
        <a {% if block.settings.button_link != blank %} href="{{ block.settings.button_link }}"{% endif %} class="button">
          {{ block.settings.button_label | escape }}
        </a>
        {% endif %}
        {%- endcase -%}
          {%- endfor -%}
      </div>
    </div>
    <div class="m-product-imgs no-d">
      <div class="v-center">
        <div class="row">
          <div class="column-50 ">
            {% if section.settings.mobile_image_1 != blank %}
            <img srcset="{%- if section.settings.mobile_image_1.width >= 165 -%}{{ section.settings.mobile_image_1 | img_url: '165x' }} 165w,{%- endif -%}
                         {%- if section.settings.mobile_image_1.width >= 360 -%}{{ section.settings.mobile_image_1 | img_url: '360x' }} 360w,{%- endif -%}
                         {%- if section.settings.mobile_image_1.width >= 535 -%}{{ section.settings.mobile_image_1 | img_url: '535x' }} 535w,{%- endif -%}
                         {%- if section.settings.mobile_image_1.width >= 720 -%}{{ section.settings.mobile_image_1 | img_url: '720x' }} 720w,{%- endif -%}
                         {%- if section.settings.mobile_image_1.width >= 940 -%}{{ section.settings.mobile_image_1 | img_url: '940x' }} 940w,{%- endif -%}
                         {%- if section.settings.mobile_image_1.width >= 1070 -%}{{ section.settings.mobile_image_1 | img_url: '1070x' }} 1070w{%- endif -%}"
                 src="{{ section.settings.mobile_image_1 | img_url: '533x' }}" 
                 alt="{{ section.settings.mobile_image_1.alt }}" 
                 class="full-image" 
                 width="auto"
           height="auto"
                 loading="lazy">
            {% else %}
            {{ 'lifestyle-2' | placeholder_svg_tag: 'placeholder-svg'  }}
            {% endif %}
          </div>
          <div class="column-50 ">
            {% if section.settings.mobile_image_2 != blank %}
            <img srcset="{%- if section.settings.mobile_image_2.width >= 165 -%}{{ section.settings.mobile_image_2 | img_url: '165x' }} 165w,{%- endif -%}
                         {%- if section.settings.mobile_image_2.width >= 360 -%}{{ section.settings.mobile_image_2 | img_url: '360x' }} 360w,{%- endif -%}
                         {%- if section.settings.mobile_image_2.width >= 535 -%}{{ section.settings.mobile_image_2 | img_url: '535x' }} 535w,{%- endif -%}
                         {%- if section.settings.mobile_image_2.width >= 720 -%}{{ section.settings.mobile_image_2 | img_url: '720x' }} 720w,{%- endif -%}
                         {%- if section.settings.mobile_image_2.width >= 940 -%}{{ section.settings.mobile_image_2 | img_url: '940x' }} 940w,{%- endif -%}
                         {%- if section.settings.mobile_image_2.width >= 1070 -%}{{ section.settings.mobile_image_2 | img_url: '1070x' }} 1070w{%- endif -%}"
                 src="{{ section.settings.mobile_image_2 | img_url: '533x' }}" 
                 alt="{{ section.settings.mobile_image_2.alt }}" 
                 width="auto"
           height="auto"
                 class="full-image" 
                 loading="lazy">
            {% else %}
            {{ 'lifestyle-2' | placeholder_svg_tag: 'placeholder-svg'  }}
            {% endif %}
          </div>

        </div>
      </div>
    </div>
    <div class="column-50 no-m">
      <div class="v-center">
        {% if section.settings.desktop_image != blank %}
        <img srcset="{%- if section.settings.desktop_image.width >= 165 -%}{{ section.settings.desktop_image | img_url: '165x' }} 165w,{%- endif -%}
                     {%- if section.settings.desktop_image.width >= 360 -%}{{ section.settings.desktop_image | img_url: '360x' }} 360w,{%- endif -%}
                     {%- if section.settings.desktop_image.width >= 535 -%}{{ section.settings.desktop_image | img_url: '535x' }} 535w,{%- endif -%}
                     {%- if section.settings.desktop_image.width >= 720 -%}{{ section.settings.desktop_image | img_url: '720x' }} 720w,{%- endif -%}
                     {%- if section.settings.desktop_image.width >= 940 -%}{{ section.settings.desktop_image | img_url: '940x' }} 940w,{%- endif -%}
                     {%- if section.settings.desktop_image.width >= 1070 -%}{{ section.settings.desktop_image | img_url: '1070x' }} 1070w{%- endif -%}"
             src="{{ section.settings.desktop_image | img_url: '533x' }}" 
             alt="{{ section.settings.desktop_image.alt }}" 
             width="auto"
           height="auto"
             class="full-image" 
             loading="lazy">
        {% else %}
        {{ 'lifestyle-2' | placeholder_svg_tag }}
        {% endif %}
      </div>
    </div>
  </div>
  <!--      </div> -->
</section>


{% schema %}
{
    "name": "Image with text 2",
    "settings": [
        {
            "type": "image_picker",
            "id": "desktop_image",
            "label": "Desktop image"
        },
        {
            "type": "image_picker",
            "id": "mobile_image_1",
            "label": "Mobile image 1"
        },
		    {
            "type": "image_picker",
            "id": "mobile_image_2",
            "label": "Mobile image 2"
        },
        {
          "type": "select",
          "id": "layout",
          "options": [
            {
              "value": "image_first",
              "label": "Image First"
            },
            {
              "value": "text_first",
              "label": "Text First"
            }
          ],
          "default": "image_first",
          "label": "Desktop Layout",
          "info" : "Image first is the default mobile layout."
        }
    ],
    "blocks": [
          {
            "type": "heading",
            "name": "Image with text",
            "limit": 1,
            "settings": [
              {
                "type": "text",
                "id": "heading",
                "default": "Stickers that will last for years.",
                "label": "Heading"
              }
            ]
          },
          {
            "type": "text",
            "name": "description",
            "limit": 1,
            "settings": [
              {
                "type": "html",
                "id": "text",
                "label": "Description",
                "default" : "Complete your sticker gift with a high quality gift bag, made from eco-cotton and fully reusable for sunglasses, phones, jewellery, …<br><br>
                Add a personalised note that we will handwrite and include within the package."
              }
            ]
          },
          {
            "type": "button",
            "name": "Button",
            "limit": 1,
            "settings": [
              {
                "type": "text",
                "id": "button_label",
                "default": "Order Now",
                "label": "Button label",
                "info": "Leave the label blank to hide the button."
              },
              {
                "type": "url",
                "id": "button_link",
                "label": "Button link"
              }
            ]
          }
    ],
    "presets": [
        {
            "name": "Image with text 2",
            "category": "ADVANCED LAYOUT"
        }
    ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
