{{ 'product-with-text.css' | asset_url | stylesheet_tag }}

<section class="image-with-text classic">
    <div class="wrapper marg-bot-xl">
        <div class="flex {% if section.settings.layout == 'image_first' %} row-reverse{% endif %}">
            <div class="flex-center column-40">
                <div class="">
                    {%- for block in section.blocks -%}
                    {% case block.type %}
                    {%- when 'heading' -%}
                    <h2 class="h3 headings product-text">{{ block.settings.heading | escape }}
                    </h2>
                    {%- when 'text' -%}
                    <p class="para">
                        {{ block.settings.text }}
                    </p>
                    {%- endcase -%}
                    {%- endfor -%}
                </div>
            </div>
            {% assign product_selected = section.settings.single_product %}
            {% assign singleProduct = all_products[product_selected] %}
            <div class="column-40">
                <div class="v-center">
                  {% if singleProduct.featured_image != blank %}
                  <a href="{{singleProduct.url}}"><img src="{{ singleProduct.featured_image | product_img_url: '600x' }}" alt="{{ singleProduct.title | escape  }}" /></a>
                    {% else %}
                    {{ 'product-1' | placeholder_svg_tag }}
                    {% endif %}
                    <button class="button button-outline direct-cart " data-variant-id="{{ singleProduct.first_available_variant.id }}" data-name=""
                        data-img="">Buy for {{ singleProduct.first_available_variant.price | money }}</button>
                </div>
            </div>

        </div>
    </div>
</section>


{% schema %}
{
    "name": "Product with text",
    "settings": [
        {
          "type": "select",
          "id": "layout",
          "options": [
            {
              "value": "image_first",
              "label": "Image First"
            },
            {
              "value": "text_first",
              "label": "Text First"
            }
          ],
          "default": "image_first",
          "label": "Desktop Layout",
          "info" : "Text first is the default mobile layout."
        },
        {
            "type": "product",
            "id": "single_product",
            "label": "Product",
            "info": "Select a product to display."
        }
    ],
    "blocks": [
          {
            "type": "heading",
            "name": "Image with text",
            "limit": 1,
            "settings": [
              {
                "type": "text",
                "id": "heading",
                "default": "Product of the month 🤩",
                "label": "Heading"
              }
            ]
          },
          {
            "type": "text",
            "name": "description",
            "limit": 1,
            "settings": [
              {
                "type": "html",
                "id": "text",
                "label": "Description",
                "default" : "Description for Best product of the month with a direct add to cart button."
              }
            ]
          }
    ],
    "presets": [
        {
            "name": "Product with text",
            "category": "ADVANCED LAYOUT"
        }
    ]
}
{% endschema %}
