{{ 'product-grid.css' | asset_url | stylesheet_tag }}

<div class="wrapper marg-bot-xl">
    <h2 class="h3 headings text-center no-mobile marg-bot" style="font-size: 35px !important;">{{section.settings.product_grid_heading}}<span class="grid_heading_subtext"> {{section.settings.product_grid_subtext}}</span></h2>
    <h2 class="h3 headings text-center no-desktop marg-bot marg-top-xxl" style="font-size: 30px !important;">{{section.settings.product_grid_heading}}<span style="font-size: 16px;"> {{section.settings.product_grid_subtext}}</span></h2>
    <div class="row">
      {% for product in collection.products %}
      {% if product.price > 0 %}
      <div class="col-md-4 flex-center">
        <div class="classic-products products">
          <div class="about-us middle-text image-section">
            {% if product.first_available_variant.featured_image != blank %}
            <a href="{{product.url}}"><img src="{{ product.first_available_variant.featured_image | img_url: 'master' }}" alt="Classic Product Image" loading = "lazy" /></a>
            {% elsif product.first_available_variant.featured_image == blank %}
            <a href="{{product.url}}"><img src="{{ product.featured_image | img_url: 'master' }}" alt="Classic Product Image" loading = "lazy" /></a>
            {% else %}
            {{ 'product-1' | placeholder_svg_tag }}
            {% endif %}
          </div>
          <div class="product-detail justify-text">
  
            <div class="row space-around">
              <p class="col-9 product-title">
                  1x {{ product.title | escape  }}
              </p>
              <p class="col-3 product-price">
                {{ product.price | money }}
              </p>
            </div>
  
            <div class="row">
              <p class="col-9 product-description">
                {{ product.description | escape  }}
              </p>
              <p class="col-3 product-size">
              </p>
            </div>
            <button class="button button-outline no-mobile direct-cart" data-variant-id="{{ product.first_available_variant.id }}" style="margin: 0 auto;">ADD TO CART</button>
            <button class="button button-outline no-desktop btn-mobile direct-cart" data-variant-id="{{ product.first_available_variant.id }}" style="margin: 0 auto;">{{ product.price | money }}</button>

          </div>
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>


  {% schema %}
{
    "name": "Product Grid",
    "settings": [
        {
            "type": "html",
            "id": "product_grid_heading",
            "default": "Our unique designs desktop🤙<br>",
            "label": "Product Grid Heading"
        },
        {
          "type": "html",
          "id": "product_grid_subtext",
          "default": "High quality, super fun stickers",
          "label": "Product Grid description"
        },
        {
          "type": "collection",
          "id": "collection_selected_grid",
          "label": "Select a collection"
        }
        
        
    ],
    "blocks": [
      
    ],
    "presets": [
        {
            "name": "Product Grid",
            "category": "ADVANCED LAYOUT"
        }
    ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
