{{ 'reviews-hero.css' | asset_url | stylesheet_tag }}

<section class="hero-image-reviews color-{{ section.settings.review_hero_color_scheme }}">
  <div class="review-text-wrapper">
    <h1 class="review-heading no-m">{{ section.settings.desktop_header_text }}</h1>
    <h1 class="review-heading no-d">{{ section.settings.mobile_header_text }}</h1>
    <div class="review-sub-heading">
      <div class="review-sub-heading-1">
        <p class="hero-sub-text no-m"><b>4.9 score</b></p>
        <p class="hero-stars">
          <span class="stars">
            <span class="star">{% include "icon-star" %}</span>
            <span class="star">{% include "icon-star" %}</span>
            <span class="star">{% include "icon-star" %}</span>
            <span class="star">{% include "icon-star" %}</span>
            <span class="star">{% include "icon-star" %}</span>
          </span>
        </p>
      </div>
      <div class="review-sub-heading-2">
        {{ section.settings.featured_on }}
      
      </div>
    </div>
  </div>
</section>

{% schema %}
{
    "name": "t:sections.reviews-hero.name",
    "settings": [
        {
            "type": "header",
            "content": "color scheme"
        },
        {
          "type": "select",
          "id": "review_hero_color_scheme",
          "info" : "t:sections.reviews-hero.settings.color_scheme.info",
          "options": [
             {
               "label": "t:sections.reviews-hero.settings.color_scheme.options__1.label",
               "value": "accent-1"
             },
             {
               "label": "t:sections.reviews-hero.settings.color_scheme.options__2.label",
               "value": "accent-2"
             },
             {
               "label": "t:sections.reviews-hero.settings.color_scheme.options__3.label",
               "value": "background-1"
             },
             {
               "label": "t:sections.reviews-hero.settings.color_scheme.options__4.label",
               "value": "background-2"
             },
             {
               "label": "t:sections.reviews-hero.settings.color_scheme.options__5.label",
               "value": "background-3"
             },
             {
               "label": "t:sections.reviews-hero.settings.color_scheme.options__6.label",
               "value": "background-4"
             },
             {
               "label": "t:sections.reviews-hero.settings.color_scheme.options__7.label",
               "value": "background-5"
             },
             {
               "label": "t:sections.reviews-hero.settings.color_scheme.options__8.label",
               "value": "inverse"
             }
          ],
          "label": "t:sections.reviews-hero.settings.color_scheme.label",
          "default": "background-1"
        },
        {
            "id": "desktop_header_text",
            "type": "html",
            "label": "t:sections.reviews-hero.settings.desktop_header_text.label"
        },
        {
            "id": "mobile_header_text",
            "type": "html",
            "label": "t:sections.reviews-hero.settings.mobile_header_text.label"
        },
        {
            "id": "featured_on",
            "type": "html",
            "label": "t:sections.reviews-hero.settings.featured_on.label"
        }
        
    ],
    "blocks": [],
    "presets": [
        {
            "name": "t:sections.reviews-hero.presets.name",
            "category": "ADVANCED LAYOUT"
        }
    ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
